
                            <li>
                                <a href="/houses" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Houses</span></a>
                            </li>

                            <li>
                                <a href="users/sign_up" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Sign-up</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>

        <!-- /.container -->


    <!-- /.intro-header -->

    <!-- Page Content -->



